body {
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
table {
    border-collapse:collapse;
    margin: 15px auto 20px auto;
}

th {
     border-spacing: 0px 0px 0px 0px;
     background:#556b2f;
     color: #ffffff;
     margin:2px 2px 100px 2px;
}

td {
    padding:2px 2px 2px 2px;
}

td:nth-of-type(1) {
    text-align:right;
}

td:nth-of-type(4),
td:nth-of-type(5) {
    width: 38px;
    text-align:center;
}

.btn {
    height: 45px;
    width: 270px;
    font-size: 95%;
    font-weight: bold;
    color:#ffffff;
    background: #556b2f;
    border: none;
    border-radius: 1vh;
    display: block;
    margin: auto;
} 

.row_gray {
    background: #d3d3d3;
}